
body {
    margin: 0;
    padding: 40px;
    background-color: rgb(99, 237, 255);
}
h1{
    color: rgb(255, 170, 0);
}


.container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: rgba(45, 177, 187, 0.919);
    width: 500px !important;
    height: 600px;
    border-radius: 20px;
    padding: 40px;
    
}
.chat-messages{
    height: 350px;
    background-color: rgb(255, 255, 255);
}
.mensajesChat{
    margin-left: 10px;
}
